# dependencies
node_modules

# uncompiled
src
example

# github only
docs
.eslintignore
.eslintrc
.gitignore
.prettierrc
.readthedocs.yml
.requirements.docs.txt
.travis.yml
mkdocs.yml

# misc
npm-debug.log*